.filterContainer{
   
        margin: 40px auto;
        display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.size{
        display: flex;
        align-items: center ;
        margin-left: 120px;
}
.size p{
    font-size: 18px;
    margin-right: 20px;
}
.selectContainer{
    width: 300px;
}