.searchinput{
    padding: 10px;
    border: solid 2px #F2CCF0;
    transition: 0.3s ease all;
}

.searchinput:focus{
    outline-color: #CB6CD8;

}
.container{
    margin: 10px auto;
    display: flex ;
    justify-content: center;
    align-items: center;

}
.container label{
    margin-right: 5px;
}