.product {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 15px;
    max-height: 120px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-family: sans-serif;
    min-height: 10vh;
}
.product p,
h1 {
    margin: 10px;
}
.button {
    background-color: transparent;
    border: 1px solid rgb(34 211 238);
    padding: 5px 10px;  
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    color: rgb(23, 111, 125);
    font-size: 15px;
    transition: 0.5s all ease;
}
.button:hover {
    background-color: rgb(34 211 238);
    color: white;
}
.titleChanger{
    padding: 5px;
    border: 2px solid  rgb(34 211 238);
    outline: none;
    border-radius: 5px;
    color: rgb(23, 111, 125);
}
.titleChanger:focus{
    outline: none;
   
    border-color:rgb(12, 100, 113) ;
}
.badge{
    background-color: rgba(34, 211, 238, 0.675);
    color: white; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex ;
    justify-content: center;
    align-items: center;
}